<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cafe House - Food and Drink Menu</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="~/Assest/Client/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assest/Client/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assest/Client/css/templatemo-style.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/Assest/Client/img/favicon.ico" type="image/x-icon" />
</head>
<body>
    <style>
        .acc-opt {
            position: relative;
        }

        .acc-opt-menu {
            display: none;
            position: absolute;
            width: 140px;
            z-index: 10;
            background: black;
            border-bottom-left-radius: 20%;
            border-bottom-right-radius: 20%;
        }

            .acc-opt-menu li a {
                font-size: 10px;
                padding-bottom: 5px;
            }

        .acc-opt:hover .acc-opt-menu {
            display: block;
        }
    </style>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    @RenderSection("topmenu", required: false)
    @Html.Partial("_WelcomeSection")
    <div class="tm-main-section light-gray-bg">
        <div class="container" id="main">
            @Html.Partial("_InfoSection")
            @RenderBody()
        </div>
    </div>
    <footer>
        @Html.Partial("_Footer")
    </footer>
    <script type="text/javascript" src="~/Assest/Client/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/Assest/Client/js/templatemo-script.js"></script>
    @RenderSection("jsFooter", required: false);
</body>
</html>