@model List<CoffeeShop.Models.CartItem>
@{
    var id = (int)Session["Id"];
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section topmenu{
    <div class="tm-top-header">
        <div class="container">
            <div class="row">
                <div class="tm-top-header-inner">
                    <div class="tm-logo-container">
                        <img src="~/Assest/Client/img/logo.png" alt="Logo" class="tm-site-logo">
                        <h1 class="tm-site-name tm-handwriting-font">Cafe House</h1>
                    </div>
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul>
                            <li><a href="/Home">Trang chủ</a></li>
                            <li><a href="/News">Tin tức</a></li>
                            <li><a href="/Product">Menu</a></li>
                            <li><a href="/Contact">Liên hệ</a></li>
                            <li><a href="/Cart" class="active"><i class="fas fa-shopping-cart" style="margin-right: 5px"></i>Giỏ hàng</a></li>
                            @{
                                var session = (EmployeeLogin)Session[CoffeeShop.Common.CommonConstants.EMPLOYEE_SESSION];
                            }
                            @if (session == null)
                            {
                                <li><a href="/User/Login">Đăng ký / Đăng nhập</a></li>
                            }
                            else
                            {
                                var names = Session["Account"].ToString().Split(' ');
                                <li class="acc-opt" style="margin-top: 15px">
                                    Xin chào: @names[2]
                                    <ul class="acc-opt-menu">
                                        <li>
                                            <a href="/User/Edit/@Session["Id"]">Sửa thông tin</a>
                                        </li>
                                        <li>
                                            <a href="/User/ChangePassword/@Session["Id"]">Đổi mật khẩu</a>
                                        </li>
                                        <li>
                                            <a href="/User/ViewHistory/@Session["Id"]">Lịch sử mua hàng</a>
                                        </li>
                                        <li><a href="/User/Logout" style="padding-bottom: 15px;">Đăng xuất</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}
<div class="tm-main-section light-gray-bg" style="padding-top: 0px; margin-bottom:20px">
    <div class="tm-main-section light-gray-bg" style="padding-top: 0">
        @if (Model.Count != 0)
        {
            if (Session["Account"] != null)
            {
                var userName = Session["Account"].ToString();
                var userDao = new Models.DAO.CustomerDao();
                var user = userDao.GetByName(userName);
                using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>Người nhận</label>
                        <input name="shipName" class="form-control" value="@Session["Account"].ToString()" />
                    </div>
                    <div class="form-group">
                        <label>SĐT</label>
                        <input name="mobile" class="form-control" value="@user.PhoneNumber" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input name="address" class="form-control" value="@user.Address" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" class="form-control" value="@user.Email" />
                    </div>
                    <button onclick="Payment()" type="submit" class="btn btn-default">Gửi đơn hàng</button>
                }
            }
            else
            {
                using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>Người nhận</label>
                        <input name="shipName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>SĐT</label>
                        <input name="mobile" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input name="address" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" class="form-control" />
                    </div>
                    <button onclick="Payment()" type="submit" class="btn btn-default">Gửi đơn hàng</button>
                }
            }
        }
        else
        {
            <form action="/Product" style="margin: 0 auto; width: 400px">
                <input style="height: 54px" class="btn btn-default btn-fw" type="submit" value="Bạn chưa thêm mặt hàng nào. Hãy trở về trang sản phẩm" />
            </form>
        }
    </div>
</div>

@section jsFooter{
    <script>
        var UrlPayment = '@Url.Action("RequestPayment", "Cart", new { customerId = Session["Id"]})'
        function Payment() {
            $.ajax({
                url: UrlPayment,
                dataType: 'html',
                type: 'POST',
                async: true,
                success: function (res) {
                    if (res.status == true) {
                        alert("Thanh toán không thành công!");
                    }
                    else {
                        alert("Thanh toán thành công! Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi!");
                    }
                    location.replace("/Home")
                }
            })
        }
    </script>
}